<html lang="en">
    <head>
        <title>Liberty Core | Tracts</title>
    </head>
    <body>
        <div class="card-deck mx-auto" style="max-width: 90rem;">
            <div class="card m-3 bigcard bg-light">
                <div class="card-body">
                    <h2 class="card-title"><%= @tract.parcel_address %></h2>
                    <p class="card-text">
                        Owner(s): <%= @tract.owner_name %></br>
                        Other info TBD
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>