<!doctype html>
<html lang="en">
  <head>
    <title>Liberty Core | Dashboard</title>
  </head>
    
  <body>
    <div class="jumbotron" id="jumbotract">
      <h3 style="color:white">Agent Name</h3>
      <div class="jumbotron" id="jumb-tract">
        <h1>Tracts</h1>
        <ul class="tract-list" id="cust-tracts">
          <li><a class="tract-link" href="index.html">Tract 1<span class="sr-only">(current)</span></a></li>
          <li><a class="tract-link" href="index.html">Tract 2<span class="sr-only">(current)</span></a></li>
          <li><a class="tract-link" href="index.html">Tract 3<span class="sr-only">(current)</span></a></li>
      </div>
    </div>


  </body>
</html>