<!doctype html>
<html lang="en">
  <head>
    <title>Liberty Core | Dashboard</title>
  </head>
    
  <body>

    <div class="card-deck mx-auto" style="max-width: 90rem;">

      <div class="card m-3 bigcard bg-light">
        <div class="card-body">

          <h2 class="card-title">Tracts</h2>

          <% 6.times do %>
            <div class="card mb-3 littlecard">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="card m-3 bigcard bg-light">
        <div class="card-body">

          <h2 class="card-title">Projects</h2>

          <% 3.times do %>
            <div class="card mb-3 littlecard">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </body>
</html>