<!doctype html>
<html lang="en">
  <head>
    <title>Liberty Core | Log In</title>
  </head>
    
  <body>
    <div class="jumbotron" id="jumb-cnt">
      <form class="form-inline">
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="username" placeholder="username">

        <label class="sr-only" for="password">Password</label>
        <div class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="password">
        </div>

        <div class="form-check mb-2 mr-sm-2">
          <input class="form-check-input" type="checkbox" id="inlineFormCheck" >
          <label class="form-check-label" for="inlineFormCheck" style="color: white;">
            Remember me
          </label>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </body>
</html>