<!doctype html>
<html lang="en">
    <head>
        <title>Liberty Core | Projects</title>
    </head>
    <body>
      <div class="card-deck mx-auto" style="max-width: 90rem;">

        <div class="card m-3 bigcard bg-light">
          <div class="card-body">

            <h2 class="card-title"><%= @project.name %></h2>

            <% @project_tracts.each do |tract| %>
              <div class="card mb-3 littlecard">
                <div class="card-body">
                  <p class="card-text">
                    <%= tract.parcel_address %></br>
                    <%= tract.owner_name %></br>
                    <% if( current_user.admin? or current_user.id == tract.user_id ) %>
                      <%= link_to "Details", tract %>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </body>
</html>
